@import "../../../SassVariables.scss";

.card {
  border: 1px solid $secondary;
  border-radius: 8px;
  box-shadow: 6px 6px 10px $secondary;
  width: 100%;

  table {
    width: 100%;

    th {
      border: 1px solid $secondary;
    }

    .total {
      font-style: italic;
      font-weight: $bold;
    }
  }

  .title {
    text-align: center;
  }
}
