@import "../../SassVariables.scss";

.register_container {
  align-items: center;
  display: flex;
  height: calc(100vh - 58px);
  justify-content: center;

  .register_form {
    border-radius: 8px;
    box-shadow: 6px 6px 10px $secondary;
    padding: 1rem;
    width: 40%;

    .btn_wrapper {
      display: flex;
      justify-content: end;
      margin-top: 1rem;
    }

    .form_title {
      text-align: center;
    }

    .general_container {
      margin-bottom: 2rem;
    }

    .input_container {
      display: flex;
      gap: 0.5rem;
    }
  }
}
