@import "../../SassVariables.scss";

.register_container {
  align-items: center;
  display: flex;
  height: calc(100vh - 58px);
  justify-content: center;

  .register_form {
    border-radius: 8px;
    box-shadow: 6px 6px 10px $secondary;
    padding: 1rem;
    width: 50%;

    .btn_wrapper {
      display: flex;
      justify-content: end;
      margin-top: 1rem;
    }

    .form_title {
      text-align: center;
    }

    .general_container {
      margin-bottom: 2rem;
    }

    .input_container {
      display: flex;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 912px) {
  .register_container {
    .register_form {
      width: 70%;
    }
  }
}

@media (max-width: 540px) {
  .register_container {
    .register_form {
      width: 90%;

      .general_container {
        margin: 0;
      }

      .input_container {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
