@import "./SassVariables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $primary;
  color: $secondary;
  font-family: $oswald;
  font-weight: $regular;
  margin: 0;
  padding: 0;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $primary;
    cursor: pointer;
    text-decoration: underline;
  }
}

button {
  background-color: $secondary;
  border: 1px solid $secondary;
  border-radius: 5px;
  font-family: $oswald;
  font-size: 20px;
  padding: 0.25rem 0.75rem;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold;
  margin: 0;
}

p {
  font-weight: $regular;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
