@import "../../../SassVariables.scss";

.select {
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem;
  width: 50%;

  .error_message {
    color: $error;
    font-size: 14px;
  }

  .error {
    border: 1px solid $error;
  }
}

.checkbox {
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .small_device {
    width: 100%;
  }
}
