@import "../../../SassVariables.scss";

.nav_link {
  background-color: $secondary;
  border: none;
  color: $link;
  font-size: 16px;
  padding: 0.5rem 0.5rem;
  width: 100px;

  &:hover {
    color: $primary;
    cursor: pointer;
    text-decoration: underline;
  }
}
