@import "../../../SassVariables.scss";

.btn {
  font-size: 16px;
  overflow: hidden;
  position: relative;

  &:hover {
    overflow: visible;
  }

  .toolTip {
    color: $secondary;
    left: 0;
    position: absolute;
    top: -100%;
    width: 175%;
  }
}
.nav_link {
  color: $link;
  font-size: 16px;
  padding: 0;
  width: 100px;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.non_nav_link {
  align-items: center;
  color: $link;
  display: flex;
  font-size: 16px;
  gap: 0.2rem;
  justify-content: center;
  padding: 0;
  width: 100px;
}

.nav_button {
  color: $primary;
  padding: 0;
}

.secondary {
  background-color: $secondary;
  color: $primary;
}

.success {
  background-color: $success;
  color: $secondary;
}

.warning {
  background-color: $warning;
  color: $secondary;
}
